:root {
  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --accent-color: #4d5ae5;
  --bacground-color: #2e2f42;
  --title-color-text: #ffffff;
  --section-bacground-color: #f4f4fd;
  --project-bacground-color: #e5e5e5;
  --portfolio-bacground-color: #e7e9fc;
  --footer-text-color: #f4f4fd;
  --hover-color-studio: #404bbf;
  --transition-hover-focus: 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-text-color);
  background-color: var(--title-color-text);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
span {
  color: var(--main-text-color);
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer-logo {
  display: inline-block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/** --------------------------------------HEADER --------------------------------------- */
.header {
  display: block;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-list {
  display: flex;
}

.header-list {
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}

.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  color: #404bbf;
  display: block;
  transition: var(--transition-hover-focus);
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:is(:hover, :focus) {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  color: #404bbf;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-contacts {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts-item {
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:is(:hover, :focus) {
  color: #404bbf;
}
/*-------------------------------HERO--------------------------------------*/
.hero {
  background: var(--bacground-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bd.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--title-color-text);
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-content {
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-color-text);
  background: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-style-btn {
  display: block;
  justify-content: center;
  min-width: 169px;
  border-radius: 4px;
}

.hero-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

/*-------------------------------ADVANTAGES--------------------------------------*/

.advantages {
  padding: 120px 0;
}

.advantages-container {
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.advantages-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.advantages-item {
  margin-bottom: 8px;
  width: calc((100% - 72px) / 4);
}
.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.advantages-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-icon {
}
/*-------------------------------PROJECT--------------------------------------*/
.project {
  padding-bottom: 120px;
}

.project-container {
  text-align: center;
}

.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.project-list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.project-item {
  background-color: var(--project-bacground-color);
}

/*-------------------------------TEAM--------------------------------------*/
.team {
  padding: 120px 0;
  background-color: var(--section-bacground-color);
}

.team-container {
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  /* list-style: none;
  display: flex;
  gap: 24px; */
}
.team-item {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-photo-card {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc {
}
.soc-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.soc-item {
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border: 1px solid #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf;
}

.soc-icon {
}

/* ----------------------customers------------------ */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-content {
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-text-color);
  margin-bottom: 72px;
  text-align: center;
}

.customers-box {
}

.customers-list {
  /* width: 40px;
  height: 40px; */
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  color: var(--hover-color-studio);
  border-color: var(--hover-color-studio);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: #404bbf;
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: #8e8f99;
}
/*-------------------------------FOOTER--------------------------------------*/
.footer {
  background-color: var(--bacground-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color-text);
  display: block;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  width: 264px;
}
.footer-span {
  color: var(--section-bacground-color);
}

.footer-soc {
  /* display: flex; */
}

.footer-soc-sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color-text);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border: 1px solid #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
  background-color: #31d0aa;
}
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-bottom {
  margin-left: 80px;
}
.footer-bottom-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  /* margin-right: 24px; */
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.footer-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 16px; */
}

.footer-btn:is(:hover, :focus) {
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-bottom-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/*!-----------------------------MODAL------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleX(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:is(:hover, :focus) {
  background-color: #404bbf;
  border: none;
}

.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 24;
  left: 24;
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-form {
  position: relative;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-btn:is(:hover, :focus) {
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-chek {
  margin-bottom: 24px;
  /* margin-right: 8px; */
}

.input-check {
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  /* gap: 8px; */
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-span {
  margin-right: 8px;
  /* display: inline-flex; */
}

.check-span:focus {
  border: 1px solid #404bbf;
}

.check-privacy {
}

.check-text a {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
}

.check-icon {
}

.input-check:checked + .check-text span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

/*!------------PORTFOLIO---------------------------------------------------*/

.header {
  box-sizing: border-box;
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list {
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  padding: 0 15px;
}

.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
}

.current {
  position: relative;
  color: #404bbf;
}

.header-menu-link:is(:hover, :focus) {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts-item {
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
}
.header-contacts-link:is(:hover, :focus) {
  color: #404bbf;
}
/*--------------MAIN--------------------------------------*/
.main-title {
}

.main-content {
  padding: 96px 0 120px 0;
}

.main-box {
  margin: auto;
  border: none;
}

.main-btn-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn-item {
}

.main-btn-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: var(--footer-text-color);
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  border-top: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn-link:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid var(--portfolio-bacground-color);
  border: 1px solid transparent;
}

.main-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.main-item {
  width: calc((100% - 48px) / 3);
  text-decoration: none;
  list-style: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-item-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-item-link:hover,
.main-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-item-link:hover .cover-text,
.main-item-link:focus .cover-text {
  transform: translateY(0);
}

.wrap-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.card-box {
  position: relative;
  overflow: hidden;
}
.card-box:hover .cover-text {
  transform: translateY(0);
}

.card-cover {
}

.cover-item {
}

.cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* text-transform: uppercase; */
  color: var(--section-bacground-color);
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------------------------FOOTER--------------------------------------*/
.footer {
  background-color: var(--bacground-color);
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  color: var(--footer-text-color);
  line-height: 1.5;
  width: 264px;
}
.footer-span {
  color: #f4f4fd;
}
